/*--------- Weather Data ---------
--------------------------------- */

#dateandtime {
    font-size: 1.0rem;
    color: #fff;
    font-weight: bold;
    margin: 20px auto 0px auto;
    text-align: left;
    opacity: 0.8;
    position: relative;
}
.current-temp {
    font-size: 9.375rem;
    color: #fff;
    font-weight: 800;
    width: 100%;
    text-align: center;
    display: block;
}
.current-temp-far {
    font-size: 9.375rem;
    color: #fff;
    font-weight: 800;
    width: 30%;
    text-align: center;
    display: block;
    margin-left: 0px;
}
#weather-description {
    font-size: 1.0rem;
    color: #fff;
    font-weight: bold;
    margin: 20px auto -16px auto;
    text-align: center;
    opacity: 0.8;
    clear: both;
}
.high-temp-left,
.low-temp-left {
    margin: 20px 20px 0px 5px;
    font-weight: 400;
    display: inline-block;
}
#location-wrapper {
	flex-wrap: nowrap;
}
#location {
    font-size: 2rem;
    font-weight: bold;
    float: left;
    flex: 0 0 auto;
}
#wind-speed {
    font-size: 2rem;
    float: left;
    display: inline-block;
    margin: 0px 20px;
}
#wind-direction {
    font-size: 2rem;
    float: left;
    display: inline-block;
    margin: 0px 20px;
}
#humidity {
    float: left;
    display: inline-block;
}
#cloudiness {
    float: left;
    display: inline-block;
}
.high-temp {
    margin-right: 10px;
}
.low-temp {
    opacity: 0.4;
}
.high-temp,
.low-temp {
    margin-left: 2px;
    font-weight: bold;
}