/*--------- Footer ---------
--------------------------------- */

footer {
    font-family: 'Source sans pro', helvetica, arial, sans-serif;
    font-weight: 300;
    color: rgba(34, 32, 51, 0.7);
    clear: both;
    text-align: left;
    width: 90%;
    bottom: 20px;
    left: 5%;
    position: absolute;
}
footer a,
footer a:visited {
    text-decoration: none;
    opacity: 0.4;
}
footer a:hover {
    color: #F62459;
    transition: ease all 0.3s;
}