/*--------- C/F Switch ---------
--------------------------------- */

.container {
    margin: 50px auto;
    width: 280px;
    text-align: center;
}
.container > .switch {
    display: block;
    margin: 12px auto;
}
.switch {
    position: relative;
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: top;
    top: 10px;
    width: 3.75em;
    height: 1.5em;
    border-radius: 2em;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
    background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
    background-image: -o-linear-gradient(top, #eeeeee, white 25px);
    background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 3em;
    width: 5em;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 0.85rem;
    text-transform: uppercase;
    background: #2C3E50;
    opacity: 0.8;
    border-radius: inherit;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}
.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.switch-label:before {
    content: attr(data-off);
    right: 8px;
    line-height: 1em;
    color: #53F5D8;
    font-weight: 400;
    font-size: 1.25em;
}
.switch-label:after {
    content: attr(data-on);
    left: 8px;
    line-height: 1em;
    color: #F62459;
    opacity: 0;
    font-weight: 400;
     font-size: 1.25em;
}
.switch-input:checked ~ .switch-label {
    background: #2C3E50;
    opacity: 0.8;
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.switch-handle {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 1.4em;
    height: 1.4em;
    background: white;
    border-radius: 50%;
    -webkit-transition: left 0.1s ease-out;
    -moz-transition: left 0.1s ease-out;
    -o-transition: left 0.1s ease-out;
    transition: left 0.1s ease-out;
}
.switch-input:checked ~ .switch-handle {
    left: 62%;
}
.switch-green > .switch-input:checked ~ .switch-label {
    background: #2C3E50;
}