


* {
	margin: 0px;
	
	box-sizing: border-box;
}

body {
	font-family: 'Muli', serif, helvetica, arial, sans-serif;
	background-size: cover;
}

body::before {
  content: "";
	background: url("../img/clouds-1.jpg")  no-repeat center ;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: grayscale; /* IE */
       filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(1); /* Old WebKit */  
}


.image-wrapper {
	width: 100%;
	height: 40vh;
	overflow: hidden;
	}

.wrapper {
width: 100%;
	position: absolute;
	bottom: 10vh;
	height: 60vh;
	overflow: hidden;
}

.loc-wrapper-right {
	border-bottom: solid 2px #f0f0f0;
	height: 60px;
	position: absolute;
	top: 0px;
	padding-bottom: 20px;
	margin-top: 20px;
}

.wrapper-right-two {
	border-bottom: solid 2px #f0f0f0;
	height: 150px;
	padding-bottom: 20px;
	margin-top: 20px;
	position: relative;
	top: 60px ;
	display: block;
}

.wrapper-right-two ul {
	border-bottom: solid 2px #f0f0f0;
	height: 150px;
	padding-bottom: 20px;
	margin-top: 20px;
	position: relative;
}

.wrapper-right-two li {
	width: 20%;
	display: inline-block;
	list-style: none;
	text-align: center;

}



 .app-left {
	background: #2C3E50; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2C3E50 , #FD746C); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2C3E50 , #FD746C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-weight: normal;
	height: 60vh;
	width: 40%;
	float: left;
	padding: 20px;
	position: relative;
}

.app-right {
	color: #FD746C; /* fallback for old browsers */
	color: -webkit-linear-gradient(to left, #2C3E50 , #FD746C); /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to left, #2C3E50 , #FD746C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-weight: normal;
	height: 60vh;
	width: 60%;
	float: left;
	padding: 20px;
	background-color: #fff;


}


/*--------- Weather Data ---------
--------------------------------- */

#dateandtime {
	font-size: 1.0rem;
	color: #fff;
	font-weight: bold;
	margin: 40px auto;
	text-align: center;
	opacity: 0.8;
}


#current-temp {
	font-size: 9.375rem;
	color: #fff;
	font-weight: bold;
	margin: 0 auto 0px auto;
	text-align: center;


}

#weather-description {
	font-size: 1.0rem;
	color: #fff;
	font-weight: bold;
	margin: auto;
	text-align: center;
	opacity: 0.8;
}

#location {

	font-size: 2rem;
	float: left;
}

#wind-speed {

	font-size: 2rem;
	float: left;
	display: inline-block;
	margin: 0px 20px;
}

#wind-direction {

	font-size: 2rem;
	float: left;
	display: inline-block;
	margin: 0px 20px;
}

#humidity {
	float: left;
	display: inline-block;
}

#cloudiness {
	float: left;
	display: inline-block;
}


/*--------- Icons ---------
--------------------------------- */

.wi {
	display: block !important;
}

.current-temp-icon-wrapper {
	font-size: 7.5rem;
	margin: 10vh auto 0px auto;
	text-align: center;
	color: #fff;
}

.list-icons {
	font-size: 3.5rem;
	margin-bottom: 1.2rem;
}

/*--------- C/F Switch ---------
--------------------------------- */




.container {
  margin: 50px auto;
  width: 280px;
  text-align: center;
}
.container > .switch {
  display: block;
  margin: 12px auto;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 30vw;
  width: 4.3em;
  height: 2.25em;
  background-color: white;
  border-radius: 2em;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 0.85rem;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;

  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 15px;
  color: #FD746C;
}
.switch-label:after {
  content: attr(data-on);
  left: 15px;
  color: #FD746C;
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #f0f0f0;
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 2em;
  height: 2em;
  background: white;
  border-radius: 50%;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-input:checked ~ .switch-handle {
  left: 50%;
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #f0f0f0;
}


