/*--------- Left Side Styles ---------
--------------------------------- */

.app-left {
    background-color: rgba(34, 32, 51, 0.9);
    /* fallback for old browsers */
    /*  background: -webkit-linear-gradient(to top, #2C3E50 , #FD746C); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top, #2C3E50 , #FD746C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-weight: normal;
    min-height: 55vh;
    width: 25%;
    flex: 1 0 auto;
    float: left;
    padding: 20px;
    position: relative;
    margin-right: 15px;
}
.current-temp-wrapper {
    font-size: 7.5rem;
    width: 70%;
    text-align: center;
    margin: auto;
    color: #fff;
    position: relative;
    font-weight: 300;
}
#hi-low-temp-wrapper-left {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: -20px auto;
}