/*--------- Right Side Styles ---------
--------------------------------- */

.app-right {
    color: #fff;
    /* fallback for old browsers */
    
    color: -webkit-linear-gradient(to left, #2C3E50, #FD746C);
    /* Chrome 10-25, Safari 5.1-6 */
    
    color: linear-gradient(to left, #2C3E50, #FD746C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-weight: normal;
    min-height: 55vh;
    width: calc(60% - 15px);
    float: left;
    flex: 1 0 auto;
    padding: 20px 20px 10px 20px;
    background-color: rgba(34, 32, 51, 0.9);
}
.wrapper-right-top {
    border-bottom: solid 2px #f0f0f0;
    height: 60px ;
    padding-bottom: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrapper-right-middle {
    border-bottom: solid 2px #f0f0f0;
    height: auto;
    margin-top: 20px;
    top: 60px;
        ul {
            height: 150px;
            padding-bottom: 20px;
            margin-top: 20px;
            text-align: right;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
                li {
                    width: 19.15%;
                    display: inline-block;
                    list-style: none;
                    text-align: center;
                    line-height: 1;
                    font-weight: bold;
                    }
            }
}
.wrapper-right-middle p,
.wrapper-right-bottom p {
    font-weight: bold;
    color: #fff;
    margin-left: 35px;
    display: block;
}

.wrapper-right-bottom {
    height: auto;
    margin-top: 20px;

        ul {
            padding-bottom: 0px;
            margin-top: 45px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
                li {
                    width: 15%;
                    flex-wrap: wrap;
                    flex: 0 0 auto;
                    flex-direction: column;
                    list-style: none;
                    text-align: center;
                    font-weight: 300;
                }
        }
}
.forecast-day-labels {
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    flex: 0 0 5em;
}
.forecast-icon-temp-wrapper {
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    flex: 0 0 2em;
}
