
@import '_left-styles.scss';
@import '_right-styles.scss';
@import '_data.scss';
@import '_icons.scss';
@import '_switch.scss';
@import '_footer.scss';
@import '_responsive.scss';

/*--------- CSS Reset ---------
--------------------------------- */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

/*--------- General Styles ---------
--------------------------------- */

body {
    font-family: 'Source sans pro', helvetica, arial, sans-serif;
    background-image: url("../img/weather-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    border: 1px solid grey;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
body:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(44, 62, 80, 0.0);
    filter: contrast(150%);
}

::selection {
	background: #53F5D8;
}
.image-wrapper {
    width: 100%;
    height: 40vh;
    overflow: hidden;
}
.wrapper {
    width: 100%;
    bottom: 10vh;
    overflow: hidden;
}
.app-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 20%;
    width: 60%;
    box-shadow: 0 0px 8px 5px rgba(44, 62, 80, 0.0);
    margin: auto;
}





