.details-section {
    color: #fff;
    /* fallback for old browsers */   
    color: -webkit-linear-gradient(to left, #2C3E50, #FD746C);
    /* Chrome 10-25, Safari 5.1-6 */   
    color: linear-gradient(to left, #2C3E50, #FD746C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    font-weight: normal;
    width: 100%;
    float: left;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: rgba(34, 32, 51, 1);
         @mixin atLarge {
    width: 65%;
    background-color: rgba(34, 32, 51, 0.9);
    padding: 2em 4em;
  }
}


.details-section__subtitle {
    font-weight: bold;
    color: #fff;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
        @mixin atMed {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
      @mixin atLargest {
    margin-bottom: 25px;
  }
}