@import 'base/_reset.css';
@import 'base/_mixins.css';
@import 'base/_global.css';
@import 'modules/_container.css';
@import 'modules/_summary-section.css';
@import 'modules/_details-section.css';
@import 'modules/_right-styles.css';
@import 'modules/_details-top.css';
@import 'modules/_details-middle.css';
@import 'modules/_details-bottom.css';
@import 'modules/_footer.css';
@import 'modules/_time.css';
@import 'modules/_icons.css';
@import 'modules/_switch.css';





