.details-section__current {
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            list-style-type: none;
            margin-bottom: 20px;
                @mixin atMed {
    margin-bottom: 25px;
  }
                  @mixin atLargest {
    margin-bottom: 40px;
  }
                li {
                    flex-wrap: wrap;
                    flex: 0 0 auto;
                    flex-direction: column;
                    list-style: none;
                    text-align: center;
                    justify-content: space-between;
                    font-weight: bold;
                        @mixin atMed {
                    font-size: 1.25rem;
  }

                }
        }

.details-section__middle-wrapper {
    border-bottom: solid 2px #f0f0f0;
    height: auto;
    margin-top: 15px;
    top: 60px;
        @mixin atMed {
    margin-top: 25px;
  }
    @mixin atLargest {
    margin-top: 40px;
  }
}