/*--------- Responsive CSS ---------
--------------------------------- */

@media (max-width: 1399px) {

.app-container{
    width: 90% !important;
}
}

@media (max-width: 960px) {
    body {
        max-width: 100%;
        display: inline;
        margin: 0;
        top: 0px;
    }

    body:before {
        display: none;
    position: relative;
    max-width: 100%;
    }

    .app-left {
        margin: 0px;
        height: auto;
        float: none;
        max-width: 100%;
    }
    #dateandtime {
        font-size: 2.5rem;
        margin: 20px auto 20px auto;
    }
    .app-container,
    .app-right,
    .app-left {
        height: auto;
        margin: 0;
        box-shadow: none;
    }
    .switch {
        right: 10%;
    }
    .app-right {
        display: block;

        width: 100%;
        padding: 0;
    }
    .current-weather-icon {
        line-height: 1em !important;
    }

    #weather-icon-wrapper-left {
        height: auto;
    }
    #icon-day-one,
    #icon-day-two,
    #icon-day-three,
    #icon-day-four,
    #icon-day-five {
        display: block;
        margin-bottom: 3px;
    }
    .high-temp,
    .low-temp {
        margin-bottom: 200px;
            font-size: 1.125em;
    }
    .high-temp {
        margin-right: 0.3em;
    }
    .wrapper-right-middle ul {
        height: auto;
        text-align: left;
        border: none;
        padding-bottom: 0;
    }
    .wrapper-right-bottom ul {
        margin: 0;
    } 
    .wrapper-right-bottom li {
        width: 19.5%;
        margin-top: 50px;
    }
    .wrapper-right-top,
    .wrapper-right-middle,
    .wrapper-right-bottom {
        height: auto;
        padding: 30px;
        margin: 0;
    }
    .wrapper-right-middle {
        padding-bottom: 0;
    }
    .app-container {
        top: 0px;
        width: 100%;
    }
    .wrapper-right-middle p,
    .wrapper-right-bottom p {
        margin-left: 0;
        font-size: 1.75em;
    }
    .forecast-list-icons {
        display: block;
    }
    footer {
        position: relative;
        bottom: 0%;
        left: 0%;
        background-color: rgba(34, 32, 51, 0.9);
        width: 100%;
        padding: 30px;
        text-align: center;
        color: #fff;
        border-top: solid 2px #fff;
    }
    footer a {
        color: #53F5D8;
}
@media (max-width: 768px) {
    #dateandtime {
        font-size: 2rem;
        margin: 20px auto 20px auto;
        text-align: center;
    }
    .wrapper-right-middle li {
        display: inline-block;
        width: 40%;
        margin-bottom: 40px;
    }
    .wrapper-right-top li,
    .wrapper-right-bottom li {
        display: block;
    }
    .current-temp-wrapper {
        width: 90%;
        margin: auto;
        display: block;
    }
    .current-weather-icon,
    #current-temp {
        display: inline-block;
        margin-left: 0;
    }
    #current-temp {
        margin-left: 0vw;
    }
    #weather-description {
        display: inline-block;
        margin-top: 0;
        font-size: 1.5rem;
    }
    #location, #location-icon {
        font-size: 1.5em;
    }
    #hi-low-temp-wrapper-left {
        margin: 0 auto;
        width: 90%;
    }
    .high-temp-left, .low-temp-left {
    margin: 0px 20px 0px 5px;
}
    .wrapper-right-bottom ul li {
        width: 100%;
        text-align: right;
        margin-top: 20px;
    }
    .wrapper-right-middle p,
    .wrapper-right-bottom p {
        font-size: 1.5em;
    }
    .forecast-list-icons {
        display: inline-block;
        margin-bottom: 0;
    }
    .forecast-day-labels {
        display: inline-block;
        float: left;
        margin-top: 0.5em;
        font-size: 1.25em;
    }
    .wrapper-right-middle ul,
    .wrapper-right-bottom ul {
        margin-top: 20px;
    }
}
@media (max-width: 480px) {
    .app-container {
        width: 100% !important;
        margin: 0 !important;
    }
    #weather-description {
        display: block;
    }
    #dateandtime {
        font-size: 1.25rem;
        margin-top: 0px;
    }
    .switch {
        margin-left: 30px;
        margin-top: 0px;
    }
}
}