/*--------- Right Side Styles ---------
--------------------------------- */

.details-section {
    color: #fff;
    /* fallback for old browsers */   
    color: -webkit-linear-gradient(to left, #2C3E50, #FD746C);
    /* Chrome 10-25, Safari 5.1-6 */   
    color: linear-gradient(to left, #2C3E50, #FD746C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    font-weight: normal;
    width: 100%;
    float: left;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: rgba(34, 32, 51, 1);
         @mixin atLarge {
    width: 65%;
    background-color: rgba(34, 32, 51, 0.9);
    padding: 2em 4em;
  }
}


.details-section__subtitle {
    font-weight: bold;
    color: #fff;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
        @mixin atMed {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
      @mixin atLargest {
    margin-bottom: 25px;
  }
}

.details-section__bottom-wrapper {
    height: auto;
    margin-top: 20px;
        @mixin atMed {
    margin-top: 25px;
  }
      @mixin atLargest {
    margin-top: 40px;
  }
}



.forecast {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-direction: column;
        @mixin atLarge {
    flex-direction: row;
  }
}

.forecast__day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
        @mixin atMed {
            margin-bottom: 5px;
  }
    @mixin atLarge {
    flex-direction: column;
    text-align: center;
  }
}



.forecast__day__label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    width: 33.3%;
        @mixin atMed {
    font-size: 1.25rem;
    
  }
      @mixin atLarge {
    text-align: center;
    width: 100%;
  }
}

.hi-low-temp-wrapper--right {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    width: 33.3%;
        @mixin atLarge {
    width: 100%;
  }
}