@import 'base/_reset.css';
@import 'base/_mixins.css';
@import 'modules/_container.css';
@import 'modules/_summary-section.css';
@import 'modules/_details-section.css';
@import 'modules/_right-styles.css';
@import 'modules/_details-top.css';
@import 'modules/_details-middle.css';
@import 'modules/_details-bottom.css';
@import 'modules/_footer.css';
@import 'components/_time.css';
@import 'components/_icons.css';
@import 'components/_switch.css';



/*--------- General Styles ---------
--------------------------------- */


body {
    font-family: 'Source sans pro', helvetica, arial, sans-serif;
    background-image: url("/assets/images/weather-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
     @mixin atMed {
        max-height: 100vh;
        overflow: hidden;
  }
}
body:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(44, 62, 80, 0.0);
    filter: contrast(150%);
       @mixin atMed {
        max-height: 100vh;
        overflow: hidden;
  }  
}

::selection {
	background: #53F5D8;
}




