.app-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0px 8px 5px rgba(44, 62, 80, 0.0);
    margin:auto;
    background-color: rgba(34, 32, 51, 1);
    overflow: hidden;
             @mixin atMed {
    padding: 1em 2em;
    margin: 20px auto 0 auto;
  }
         @mixin atMedLarge {
    padding: 2em 4em;
    width: 80%;
    margin: 20px auto 0 auto;
  }
    @mixin atMedLarge {
     margin-top: 75px;
     }
       @mixin atLarge {
        position: relative;
        top: 10vh;
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: transparent;
  }
@mixin atLargest {
    width: 70%;
    top: 5vh;
}
}
