.loader,
.loader__figure {
  margin: auto;
}

.loader {
  overflow: visible;
  height: 1em;
}

.loader__figure {
  height: 1em;
  width: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid #53f5d8;
  border-radius: 50%;
  -webkit-animation: loader-figure 1s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #53f5d8;
  }
  29% {
    background-color: #53f5d8;
  }
  30% {
    height: 1em;
    width: 1em;
    background-color: transparent;
    border-width: 5px;
    opacity: 1;
  }
  100% {
    height: 1em;
    width: 1em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #53f5d8;
  }
  29% {
    background-color: #53f5d8;
  }
  30% {
    height: 1em;
    width: 1em;
    background-color: transparent;
    border-width: 5px;
    opacity: 1;
  }
  100% {
    height: 1em;
    width: 1em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
